<ion-content class="auth">
  <ion-grid fixed>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="10" class="ion-justify-content-center auth__connection">
        <div class="auth__connection-layout">
          <h1 class="auth__logo">Cook Up'</h1>
          <ion-button
            [routerLink]="['/auth/local']"
            expand="block"
            fill="clear"
            shape="round"
            class="auth__connection-mail"
          >
            <span class="auth__connection-text">
              Se connecter avec
            </span>
            <ion-icon slot="end" name="mail"></ion-icon>
          </ion-button>
          <ion-button
            (click)="signIn('facebook')"
            expand="block"
            fill="clear"
            shape="round"
            class="auth__connection-fb"
          >
            <span class="auth__connection-text">
              Se connecter avec
            </span>
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button
            (click)="signIn('google')"
            expand="block"
            fill="clear"
            shape="round"
            class="auth__connection-google"
          >
            <span class="auth__connection-text">
              Se connecter avec
            </span>
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="12" class="auth__signup">
        <h6 class="auth__signup-title">
          Pas encore inscrit ?
        </h6>
        <a class="auth__signup-link" [routerLink]="['/auth/register']"
          >Créez un compte maintenant</a
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
