<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="info">
        <ion-icon
          class="houseqrcode__toolbar"
          slot="start"
          name="chevron-back"
        ></ion-icon>
        Retour
      </ion-button>
    </ion-buttons>
    <ion-title>QRCode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div class="houseqrcode-qrcode">
    <qrcode
      [elementType]="elementType"
      [qrdata]="house?.uuid"
      [width]="296"
      [errorCorrectionLevel]="'M'"
      cssClass="custom-qrcode"
      class="houseqrcode-mxauto"
    ></qrcode>
  </div>
</ion-content>
