<ion-header class="auth-header" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth" fullscreen [scrollY]="false">
  <ion-grid fixed>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="10" class="ion-justify-content-center auth__connection">
        <h1 class="auth__logo">Réinitialiser votre mot de passe</h1>
        <form
          [formGroup]="resetForm"
          (ngSubmit)="onSubmit()"
          class="auth__connection__form"
        >
          <ion-item>
            <ion-label position="floating">
              Mot de passe <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input
              required
              formControlName="password"
              type="password"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">
              Confirmation du mot de passe <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input
              required
              formControlName="passwordConfirmation"
              type="password"
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            color="primary"
            type="submit"
            [disabled]="resetForm.invalid"
            class="auth__connection__form-btn"
          >
            Envoyer
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
