<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="info">
        <ion-icon
          style="margin-right: 0;"
          slot="start"
          name="chevron-back"
        ></ion-icon>
        Retour
      </ion-button>
    </ion-buttons>
    <ion-title>Membres de la maison</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-list lines="none">
    <ion-item *ngFor="let user of house?.users">
      <ion-avatar slot="start" style="width: 48px; height: 48px;">
        <img [src]="'https://eu.ui-avatars.com/api/?name=' + user?.username" />
      </ion-avatar>
      <ion-label>
        <h2>{{ user?.username }}</h2>
        <p>{{ user?.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
