<section>
  <h4 style="padding: 0 20px;">Petit-déjeuner</h4>
  <ion-item style="padding-right: 20px;">
    <ion-thumbnail slot="start" class="planning-card__thumbnail">
      <img
        src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
      />
    </ion-thumbnail>
    <ion-label style="margin-bottom: auto;">
      <h3>Bol de céréales</h3>
      <p>dolor sit amet</p>
    </ion-label>
  </ion-item>
</section>
