<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="info">
        <ion-icon
          style="margin-right: 0;"
          slot="start"
          name="chevron-back"
        ></ion-icon>
        Retour
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center; margin-bottom: 2rem;">
    <h1>Modification de votre mot de passe</h1>
    <p>
      Pensez à utiliser un mot de passe assez sécurisé afin d'éviter tout vol de
      compte
    </p>
  </div>

  <form
    class="updatepassword"
    [formGroup]="updatePasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <ion-item style="margin-bottom: 1rem;">
      <ion-label position="floating">
        Mot de passe<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 1rem;">
      <ion-label position="floating">
        Confirmer<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        formControlName="passwordConfirmation"
        type="password"
      ></ion-input>
    </ion-item>

    <ion-button
      class="updatepassword-btn"
      expand="block"
      color="light"
      type="submit"
      [disabled]="updatePasswordForm.invalid"
    >
      Créer
    </ion-button>
  </form>
</ion-content>
