<ion-header mode="ios">
  <ion-toolbar>
    <ion-title size="large" class="home__toolbar-title">Bienvenue</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-avatar slot="end" class="home__toolbar-avatar">
          <img src="../../assets/avatar.png" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title size="large" class="home__toolbar-title">Diane</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="log-out-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home__content">
  <ion-text color="dark">
    <h5 class="home__title">
      État de la liste de course
    </h5>
  </ion-text>
  <ion-card class="home__card">
    <ion-item class="home__card-content">
      <ion-icon
        class="home__card-icon"
        src="assets/icon/market.svg"
        slot="start"
      >
      </ion-icon>
      <ion-text class="home__card-text">
        Votre liste de course est prête
      </ion-text>
      <ion-button slot="end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>
