<ion-header class="auth-header" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth" fullscreen [scrollY]="false">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="auth__connection">
        <div class="auth__connection-layout">
          <h1 class="auth__logo">Mot de passe oublié</h1>
          <form
            [formGroup]="forgotForm"
            (ngSubmit)="onSubmit()"
            class="auth__connection__form"
          >
            <ion-item>
              <ion-label position="floating">
                Courriel
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input
                required
                formControlName="email"
                type="email"
              ></ion-input>
            </ion-item>

            <ion-button
              expand="block"
              color="primary"
              type="submit"
              [disabled]="forgotForm.invalid"
              class="auth__connection__form-btn"
            >
              Envoyer
            </ion-button>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
