<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planning">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Planning</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stocks">
      <ion-icon name="square"></ion-icon>
      <ion-label>Stocks</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="recipes">
      <ion-icon name="square"></ion-icon>
      <ion-label>Recettes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
