<ion-tabs>
  <ion-tab-bar slot="bottom" class="navbar__tab">
    <ion-tab-button tab="home" class="navbar__tab-button">
      <ion-icon src="assets/icon/navbar/home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planning" class="navbar__tab-button">
      <ion-icon src="assets/icon/navbar/planning.svg"></ion-icon>
      <ion-label>Planning</ion-label>
    </ion-tab-button>

    <ion-tab-button></ion-tab-button>

    <ion-tab-button tab="stocks" class="navbar__tab-button">
      <ion-icon src="assets/icon/navbar/stock.svg"></ion-icon>
      <ion-label>Stocks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipes" class="navbar__tab-button">
      <ion-icon src="assets/icon/navbar/recipe.svg"></ion-icon>
      <ion-label>Recettes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab
  vertical="bottom"
  horizontal="center"
  slot="fixed"
  edge="false"
  class="navbar__tab-safearea"
>
  <ion-fab-button type="button" color="secondary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top" class="navbar__tab-safearea">
    <ion-fab-button type="button" color="dark" (click)="createDailyMenu()">
      <ion-icon src="assets/icon/navbar/planning.svg"></ion-icon>
    </ion-fab-button>
    <ion-fab-button type="button" color="dark" (click)="addStock()">
      <ion-icon src="assets/icon/navbar/stock.svg"></ion-icon>
    </ion-fab-button>
    <ion-fab-button type="button" color="dark" (click)="createRecipe()">
      <ion-icon src="assets/icon/navbar/recipe.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
