<ion-header mode="ios">
  <ion-toolbar>
    <ion-title size="large" class="planning__toolbar-title">
      Planning
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <section class="planning__calendar">
      <div class="planning__date">
        <span class="planning__date-day">L</span>
        <span class="planning__date-nb">18</span>
      </div>
      <div class="planning__date planning__date-select">
        <span class="planning__date-day">M</span>
        <span class="planning__date-nb">19</span>
      </div>
      <div class="planning__date">
        <span class="planning__date-day">M</span>
        <span class="planning__date-nb">20</span>
      </div>
      <div class="planning__date">
        <span class="planning__date-day">J</span>
        <span class="planning__date-nb">21</span>
      </div>
      <div class="planning__date">
        <span class="planning__date-day">V</span>
        <span class="planning__date-nb">22</span>
      </div>
      <div class="planning__date">
        <span class="planning__date-day">S</span>
        <span class="planning__date-nb">23</span>
      </div>
      <div class="planning__date">
        <span class="planning__date-day">D</span>
        <span class="planning__date-nb">24</span>
      </div>
    </section>
  </ion-toolbar>
</ion-header>

<ion-content class="planning__content">
  <ion-list>
    <ion-item-group>
      <ion-item-divider sticky="true">
        <ion-label>Petit-déjeûner</ion-label>
      </ion-item-divider>

      <ion-item detail="true">
        <ion-icon
          slot="start"
          src="/assets/icon/recipe-categories/snack.svg"
        ></ion-icon>
        <ion-label>
          <h2>Acai bowl</h2>
          <p class="planning__list-infos">
            <ion-icon
              class="planning__list-icon"
              name="hourglass-outline"
            ></ion-icon>
            10 min
          </p>
        </ion-label>
      </ion-item>

      <ion-item detail="true">
        <ion-icon slot="start" src="assets/icon/food-categories/drink.svg">
        </ion-icon>
        <ion-label>
          <h2 class="planning__list-content planning__list-mb">
            Jus d'orange
            <ion-badge slot="end" color="secondary">
              20cl
            </ion-badge>
          </h2>
          <p class="planning__list-content planning__list-text">
            <ion-text color="medium">
              Expire le : 10/06/2020
            </ion-text>
            <ion-text color="medium">
              Réfrigérateur
            </ion-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item-divider sticky="true">
        <ion-label>Déjeûner</ion-label>
      </ion-item-divider>

      <ion-item-divider sticky="true">
        <ion-label>Dîner</ion-label>
      </ion-item-divider>
    </ion-item-group>
  </ion-list>
</ion-content>
