<ion-header mode="ios">
  <ion-toolbar>
    <ion-title size="large" class="planning__toolbar-title">
      Planning
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <section class="planning__calendar">
      <div class="planning__date">
        <span class="planning__date-day">L</span>
        <span class="planning__date-nb">18</span>
      </div>
      <div class="planning__date planning__date-select">
        <span class="planning__date-day">M</span>
        <span class="planning__date-nb">19</span>
      </div>
      <div class="planning__date">
        <span class="planning__date-day">M</span>
        <span class="planning__date-nb">20</span>
      </div>
      <div class="planning__date">
        <span class="planning__date-day">J</span>
        <span class="planning__date-nb">21</span>
      </div>
      <div class="planning__date">
        <span class="planning__date-day">V</span>
        <span class="planning__date-nb">22</span>
      </div>
      <div class="planning__date">
        <span class="planning__date-day">S</span>
        <span class="planning__date-nb">23</span>
      </div>
      <div class="planning__date">
        <span class="planning__date-day">D</span>
        <span class="planning__date-nb">24</span>
      </div>
    </section>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <planning-card></planning-card> -->
</ion-content>
