<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="Retour"
        defaultHref="auth"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>auth-register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        Courriel
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        clearInput
        required
        formControlName="identifier"
        type="email"
      ></ion-input>
    </ion-item>
    <ion-item *ngIf="f.identifier.invalid && f.identifier.touched" lines="none">
      <ion-text
        *ngIf="f.identifier.errors.required"
        color="danger"
        class="form-error"
      >
        Email is required.
      </ion-text>
      <ion-text
        *ngIf="f.identifier.errors.email"
        color="danger"
        class="form-error"
      >
        Please enter a valid email address.
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Mot de passe
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        required
        formControlName="password"
        type="password"
      ></ion-input>
    </ion-item>
    <ion-item *ngIf="f.password.invalid && f.password.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid password.
      </ion-text>
    </ion-item>

    <ion-button
      block
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Login
    </ion-button>
  </form>
  <ion-button
    [routerLink]="['/auth/forgot']"
    expand="block"
    fill="clear"
    color="dark"
    shape="round"
  >
    Mot de passe oublié ?
  </ion-button>
</ion-content>
