<ion-header class="auth-header" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="Retour"
        defaultHref="auth"
        color="light"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth" fullscreen [scrollY]="false">
  <ion-grid fixed>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="10" class="ion-justify-content-center auth__connection">
        <h1 class="auth__logo">S'inscrire</h1>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          class="auth__connection__form"
        >
          <ion-item>
            <ion-label position="floating">
              Nom
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input
              clearInput
              required
              formControlName="username"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              Courriel
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input
              clearInput
              required
              formControlName="email"
              type="email"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">
              Mot de passe
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input
              required
              formControlName="password"
              type="password"
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            color="light"
            type="submit"
            [disabled]="registerForm.invalid"
            class="auth__connection__form-btn"
          >
            Créer un compte
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
