<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="Retour"
        defaultHref="/private/recipes"
        color="info"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ recipe?.name }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="foods">
        <ion-label>Ingrédients</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cook">
        <ion-label>Préparation</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="segment === 'foods'">
    <ion-list-header>
      Ingrédients
    </ion-list-header>

    <ion-item *ngFor="let ingredient of recipe?.ingredients">
      <ion-icon
        slot="start"
        [src]="'assets/icon/food-categories/' + ingredient?.food?.food_category?.icon"
      ></ion-icon>
      <ion-label>
        {{ ingredient?.food?.name }}
        <p>{{ places[ingredient?.food?.place] }}</p>
      </ion-label>
      <ion-text slot="end" class="recipe__foods-quantity">
        {{ ingredient?.quantity + ingredient?.food?.unit }}
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="segment === 'cook'">
    <ion-list-header class="recipe__title">
      Préparation
      <ion-text class="recipe__title-content">
        <ion-icon
          class="recipe__title-icon"
          src="assets/icon/recipes/prepare.svg"
        ></ion-icon>
        <span class="recipe__title-infos">
          {{ recipe?.preparation | dayjsRecipe:'HH:mm:ss.SSS' }}
        </span>
        <span class="recipe__title-divider"></span>
        <ion-icon
          class="recipe__title-icon"
          src="assets/icon/recipes/cook.svg"
        ></ion-icon>
        <span class="recipe__title-infos">
          {{ recipe?.cooking | dayjsRecipe:'HH:mm:ss.SSS' }}
        </span>
      </ion-text>
    </ion-list-header>

    <ion-item *ngFor="let step of recipe?.steps; let i = index">
      <ion-text slot="start" color="primary" class="recipe__cook-round">
        <span class="recipe__cook-nb">{{ i + 1 }}</span>
      </ion-text>
      <ion-label class="ion-text-wrap">
        {{ step }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
