.updatehouse {
  &__toolbar {
    margin-right: 0;
  }

  &__btn {
    &-editable {
      font-weight: 600;
    }
  }
  &__form {
    ion-item {
      --padding-start: 0;
      --background: none;
    }

    &-item {
      margin-bottom: 1rem;
    }

    &-input {
      text-align: right;
    }

    &-btn {
      margin-top: 2rem;
      --background: #ffffff;
      --color: black;
      --border-radius: 16px;
    }
  }
  &-courseday {
    padding-right: 10px;
  }
}

ion-content {
  --ion-font-family: "SFProText";
}
.input-label {
  display: inline-block;
}
