.createhouse {
  &__toolbar {
    margin-right: 0;
  }
  &__info {
    text-align: center;
    margin-bottom: 2rem;
  }
  &__form {
    ion-item {
      --padding-start: 0;
      --background: none;
    }

    &-item {
      margin-bottom: 1rem;
    }

    &-btn {
      margin-top: 2rem;
      --background: #ffffff;
      --color: black;
      --border-radius: 16px;
    }
  }
}

ion-content {
  --ion-font-family: "SFProText";
}
