<ion-header mode="ios">
  <ion-toolbar>
    <ion-title size="large" class="stocks__toolbar-title">
      Stocks
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <section class="stocks__section">
      <div class="stocks__categories">
        <span class="stocks__categories-type">
          Tous
          <ion-badge
            class="stocks__categories-badge stocks__categories-select"
            color="light"
          >
            39
          </ion-badge>
        </span>
        <ion-text [color]="true ? 'secondary' : 'medium'">•</ion-text>
      </div>
      <div class="stocks__categories">
        <span class="stocks__categories-type">
          Frigo
          <ion-badge class="stocks__categories-badge" color="light">
            12
          </ion-badge>
        </span>
        <ion-text [color]="false ? 'secondary' : 'medium'">•</ion-text>
      </div>
      <div class="stocks__categories">
        <span class="stocks__categories-type">
          Congélateur
          <ion-badge class="stocks__categories-badge" color="light">
            16
          </ion-badge>
        </span>
        <ion-text [color]="false ? 'secondary' : 'medium'">•</ion-text>
      </div>
      <div class="stocks__categories">
        <span class="stocks__categories-type">
          Cellier
          <ion-badge class="stocks__categories-badge" color="light">
            11
          </ion-badge>
        </span>
        <ion-text [color]="false ? 'secondary' : 'medium'">•</ion-text>
      </div>
    </section>
  </ion-toolbar>
</ion-header>

<ion-content class="stocks__content">
  <ion-searchbar placeholder="Rechercher un aliment..."></ion-searchbar>

  <ion-card class="stocks__card">
    <ion-item>
      <ion-icon src="assets/icon/food-categories/frozen.svg" slot="start">
      </ion-icon>
      <div class="stocks__card-section">
        <div class="stocks__card-content stocks__card-mb">
          <ion-text class="stocks__card-title">
            Pizza
          </ion-text>
          <span class="stocks__card-quantity">
            <ion-text class="stocks__card-title">300g</ion-text>
          </span>
        </div>
        <div class="stocks__card-content">
          <ion-text class="stocks__card-expiry" color="medium">
            Expire le : 09/06/2020
          </ion-text>
          <ion-text class="stocks__card-categories" color="medium">
            Congélateur
          </ion-text>
        </div>
      </div>
    </ion-item>
  </ion-card>
</ion-content>
