<ion-header mode="ios">
  <ion-toolbar>
    <ion-title size="large" class="stocks__toolbar-title">
      Stocks
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <section class="stocks__section">
      <div class="stocks__categories">
        <span class="stocks__categories-type">
          Tous
          <ion-badge
            class="stocks__categories-badge stocks__categories-select"
            color="light"
          >
            39
          </ion-badge>
        </span>
        <ion-text [color]="true ? 'secondary' : 'medium'">•</ion-text>
      </div>
      <div class="stocks__categories">
        <span class="stocks__categories-type">
          Frigo
          <ion-badge class="stocks__categories-badge" color="light">
            12
          </ion-badge>
        </span>
        <ion-text [color]="false ? 'secondary' : 'medium'">•</ion-text>
      </div>
      <div class="stocks__categories">
        <span class="stocks__categories-type">
          Congélateur
          <ion-badge class="stocks__categories-badge" color="light">
            16
          </ion-badge>
        </span>
        <ion-text [color]="false ? 'secondary' : 'medium'">•</ion-text>
      </div>
      <div class="stocks__categories">
        <span class="stocks__categories-type">
          Cellier
          <ion-badge class="stocks__categories-badge" color="light">
            11
          </ion-badge>
        </span>
        <ion-text [color]="false ? 'secondary' : 'medium'">•</ion-text>
      </div>
    </section>
  </ion-toolbar>
</ion-header>

<ion-content class="stocks__content">
  <ion-searchbar placeholder="Rechercher un aliment..."></ion-searchbar>

  <ion-item-divider>
    <ion-label>F</ion-label>
  </ion-item-divider>

  <ion-item lines="none" detail="true">
    <ion-icon slot="start" src="assets/icon/food-categories/fresh.svg">
    </ion-icon>
    <ion-label>
      <h2 class="stocks__list-content stocks__list-mb">
        Fromage de chèvre
        <ion-badge slot="end" color="secondary">
          300g
        </ion-badge>
      </h2>
      <p class="stocks__list-content stocks__list-infos">
        <ion-text color="medium">
          Expire le : 09/06/2020
        </ion-text>
        <ion-text color="medium">
          Réfrigérateur
        </ion-text>
      </p>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label>O</ion-label>
  </ion-item-divider>

  <ion-item lines="none" detail="true">
    <ion-icon slot="start" src="assets/icon/food-categories/vegetables.svg">
    </ion-icon>
    <ion-label>
      <h2 class="stocks__list-content stocks__list-mb">
        Oignon
        <ion-badge slot="end" color="secondary">
          1 kg
        </ion-badge>
      </h2>
      <p class="stocks__list-content stocks__list-infos">
        <ion-text color="medium">
          Expire le : 09/06/2020
        </ion-text>
        <ion-text color="medium">
          Cellier
        </ion-text>
      </p>
    </ion-label>
  </ion-item>
</ion-content>
