.stocks {
  &__toolbar {
    &-title {
      font-size: 1.5rem;
      padding-bottom: 6px;
      padding-left: unset;
      padding-right: unset;
      -webkit-padding-start: 16px;
      padding-inline-start: 16px;
      -webkit-padding-end: 16px;
      padding-inline-end: 16px;
      text-align: left;
      font-weight: 700;
    }
  }
  &__section {
    display: flex;
    flex-direction: row;
  }
  &__categories {
    color: var(--ion-color-medium);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &-badge {
      font-family: "SFProText";
      font-weight: 500;
      font-size: 0.75rem;
    }

    &-type {
      font-size: 0.75rem;
      font-weight: 600;
      margin-top: auto;
      color: var(--ion-color-dark);
    }
  }

  &__content {
    --background: #f1f1f6;
  }

  &__list {
    &-content {
      display: flex;
      justify-content: space-between;
    }

    &-infos {
      font-size: 0.75rem;
    }

    &-mb {
      margin-bottom: 10px;
    }
  }
}
