.stocks {
  &__toolbar {
    &-title {
      font-size: 1.5rem;
    }
  }
  &__section {
    display: flex;
    flex-direction: row;
  }
  &__categories {
    color: var(--ion-color-medium);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &-badge {
      font-family: "SFProText";
      font-weight: 500;
      font-size: 0.75rem;
    }

    &-select {
      background: var(--ion-color-secondary);
    }

    &-type {
      font-size: 0.75rem;
      font-weight: 600;
      margin-top: auto;
      color: var(--ion-color-dark);
    }
  }

  &__content {
    --background: #f1f1f6;
  }

  &__card {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
    box-shadow: unset;

    &-section {
      width: 100%;
      margin: 15px 8px 15px 0;
    }

    &-content {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      font-weight: 500;
      margin: auto 0;
    }

    &-quantity {
      padding: 3px 8px;
      border-radius: 12px;
      background-color: var(--ion-color-secondary);
      text-align: center;
      font-size: 0.875rem;
    }

    &-expiry {
      font-size: 0.75rem;
    }

    &-categories {
      font-size: 0.75rem;
    }

    &-mb {
      margin-bottom: 10px;
    }
  }
}

ion-item {
  --inner-border-width: 0;
}
