<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="info">
        Fermer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="settings__header">
    <ion-avatar class="settings__header-avatar">
      <img [src]="'https://eu.ui-avatars.com/api/?name=' + user?.username" />
    </ion-avatar>
    <h1 class="settings__header-name">{{ user?.username }}</h1>
  </div>

  <ion-list>
    <ion-item-group>
      <ion-item-divider class="settings__list-divider">
        <ion-icon slot="start" name="fast-food"></ion-icon>
        <ion-label>Maison</ion-label>
      </ion-item-divider>

      <ion-item-group
        class="settings__list-group"
        *ngIf="user?.houses?.length !== 0"
      >
        <ion-item class="settings__list__item-top">
          <ion-label>Selectionnée {{ currentHouseId }}</ion-label>
          <ion-select
            *ngIf="showSelect"
            (ionChange)="onHouseChange()"
            [(ngModel)]="currentHouse"
            [compareWith]="compareHouseFn"
            interface="popover"
            placeholder="Maison"
          >
            <ion-select-option
              *ngFor="let house of user?.houses"
              [value]="house"
            >
              {{ house.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item detail="true" (click)="showHouseQRCode()">
          <ion-label>QR Code</ion-label>
          <ion-icon slot="end" name="qr-code-outline"></ion-icon>
        </ion-item>
        <ion-item detail="true" (click)="showHouseInformations()">
          <ion-label>Informations</ion-label>
        </ion-item>
        <ion-item detail="true" (click)="showHouseMembers()">
          <ion-label>Membres</ion-label>
        </ion-item>
        <ion-item class="settings__list__item-bottom" (click)="leaveHouse()">
          <ion-label color="danger">Quitter cette maison</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group class="settings__list-group">
        <ion-item
          detail="true"
          class="settings__list__item-top"
          (click)="createHouse()"
        >
          <ion-label color="info">Créer une maison</ion-label>
        </ion-item>

        <ion-item
          detail="true"
          class="settings__list__item-bottom"
          (click)="joinHouse()"
        >
          <ion-label color="info">Rejoindre une maison</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-item-group>

    <ion-item-group class="settings__list-group" *ngIf="isLocal">
      <ion-item-divider class="settings__list-divider">
        <ion-icon slot="start" name="man"></ion-icon>
        <ion-label>Informations personnelles</ion-label>
      </ion-item-divider>
      <ion-item
        (click)="showUserInformations()"
        detail="true"
        class="settings__list__item-top"
      >
        <ion-label>Voir mes informations</ion-label>
      </ion-item>
      <ion-item
        (click)="showUserEditPassword()"
        detail="true"
        class="settings__list__item-bottom"
      >
        <ion-label>Modifier mon mot de passe</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-button
      style="margin-bottom: 2rem;"
      (click)="logout()"
      expand="block"
      fill="clear"
      shape="round"
      class="settings__list__button-danger"
    >
      Déconnexion
    </ion-button>
  </ion-list>
</ion-content>
