<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="!isEditable" (click)="cancel()" color="info">
        <ion-icon
          class="updateuser__toolbar"
          slot="start"
          name="chevron-back"
        ></ion-icon>
        Retour
      </ion-button>
      <ion-button (click)="cancel()" *ngIf="isEditable" color="info">
        Annuler
      </ion-button>
    </ion-buttons>
    <ion-title>Informations</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="handleButton()"
        color="info"
        [class]="isEditable ? 'updatehouse__btn-editable' : ''"
      >
        {{ isEditable ? "OK" : "Modifier" }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="updateuser__content">
    <ion-avatar class="updateuser__content-avatar">
      <img [src]="'https://eu.ui-avatars.com/api/?name=' + user?.username" />
    </ion-avatar>
  </div>
  <form class="updateuser__form" [formGroup]="updateUserForm">
    <ion-item class="updateuser__form-item">
      <ion-label>
        Nom d'utilisateur
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        maxlength="20"
        formControlName="username"
        type="text"
        class="updateuser__form-input"
        [readonly]="!isEditable"
      ></ion-input>
    </ion-item>
    <ion-item class="updateuser__form-item">
      <ion-label>
        Courriel
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        formControlName="email"
        type="email"
        class="updateuser__form-input"
        [readonly]="!isEditable"
      ></ion-input>
    </ion-item>
  </form>
</ion-content>
