.createrecipe {
  &-btn {
    font-weight: 600;
  }
  &__form {
    &__cook {
      &-round {
        background-color: var(--ion-color-secondary);
        width: 36px;
        height: 36px;
        border-radius: 100%;
        display: flex;
      }

      &-nb {
        margin: auto;
        color: black;
      }
    }
    &__foods {
      &-quantity {
        font-size: 0.85rem;
        font-weight: 600;
      }
    }
    ion-item {
      --background: none;
    }
  }

  &-item {
    margin-bottom: 0.5rem;
  }

  &-text-r {
    text-align: right;
  }
}

/* ion-content {
    --ion-font-family: "SFProText";
  } */
.input-label {
  display: inline-block;
}
